---
import Html from "ui/html.astro";
import Block from "ui/block.astro";
import Showcase from "ui/showcase.astro";
import IntroExample from "ui/code/intro.astro";
import VersatileExample from "ui/code/versatile.astro";
import ExtensibleExample from "ui/code/extensible.astro";
import SyntaxExample from "ui/code/syntax.astro";
---

<Html title="Fin Text Format" description="A general purpose notation for data interchange">
  <Showcase>
    <div slot="content">
      <div class="mb-8">
        <div class="inline-flex items-center gap-2">
          <h1 class="text-2xl font-bold leading-none sm:text-4xl sm:leading-none">
            Fin Text Format
          </h1>
          <a
            class="ml-2 inline-flex rounded bg-red-9 px-2 py-px text-sm font-bold uppercase text-gray-1 hover:underline sm:text-base dark:bg-redDark-9"
            href="/dev-process"
          >
            unstable
          </a>
        </div>
        <p class="">A general purpose notation for data interchange.</p>
      </div>
      <Block id="hero" fullWidth={true} />
    </div>
    <IntroExample slot="code" />
  </Showcase>

  <Showcase flip={true} id="versatile">
    <Block id="versatile" fullWidth={true} slot="content" />
    <VersatileExample slot="code" />
  </Showcase>

  <Showcase id="extensible">
    <Block id="extensible" fullWidth={true} slot="content" />
    <ExtensibleExample slot="code" />
  </Showcase>

  <Showcase flip={true} id="syntax">
    <Block id="syntax" fullWidth={true} slot="content" />
    <SyntaxExample slot="code" />
  </Showcase>

  <footer class="mt-8 px-4 py-8 text-center sm:mt-16">
    <div>
      Fin is released under the
      <a href="/license" class="font-medium text-blue-10 dark:text-blueDark-10">MIT License</a>
    </div>
    <div class="text-sm">Created by Michael McClintock & contributors</div>
  </footer>
</Html>
